* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

html {
    background: lightgreen;
}

body {
    font-family: "Trebuchet MS", sans-serif;
}

nav {
    width: auto;
    height: 115px;
    border-bottom: 1px solid grey;
    background: black;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}

nav h1 {
    color: white;
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

nav h2 {
    color: white;
    text-align: center;
}

nav .leftContainer {
    float: left;
    margin-left: 15px;
}

.zipSearch {
    cursor: pointer;
    background-color: lightgreen;
}

.zipSearch:hover {
    background-color: green;
    color: white;
}

nav .js-search-form {
    text-align: center;
}

nav .signup {
    float: right;
    margin-right: 10px;
    clear: right;
    display: block;
    width: 15%;
}

nav .logButton {
    cursor: pointer;
    background-color: lightgreen;
}

nav .logButton:hover {
    background-color: green;
    color: white;
}

nav p {
    color: white;
    display: inline-block;
}

nav p::hover {
    color: blue;
}

.addToFavoritesButton, .clearFavoritesButton {
    background-color: transparent !important;
    border: none;
    cursor: pointer;
    display: block;
    width: auto;
    float: right;
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 1000;
}

.favoritesContainer {
    margin-top: 20px;
    margin-left: 15px;
    z-index: 10;
    text-align: left;
    width: 360px;
    padding: 15px;
    border-radius: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 10px;
    right: 10px;
}

.favoritesContainer h2 {
    text-align: left;
}

.favoritesContainer ul {
    list-style-type: none;
    background-color: none;
}

.clearFavoritesButton {
    float: right;
}

.clear-favourite-icon {
    height: 15px;
    width: 15px;
}

.wrapper {
    background: black;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}

.movieTitles ul {
    overflow: hidden;
    margin-top: 1em;
    /*    list-style-type: none;*/
}

.zipcode {
    color: lightgreen;
    text-align: center;
}

.movieTitle {
    border-bottom: 1px solid lightgreen;
    margin-bottom: 15px;
}

.movieContain {
    color: white;
    position: relative;
}

.movieTitle h1 {
    color: white;
    font-size: 30px;
    margin-top: 30px;
}

.movieTitle p {
    color: white;
}

.movieTitle .genreValue {
    float: right;
    color: white;
}

.theater p {
    margin-top: 10px;
    color: white;
}

a {
    color: lightgreen;
    text-decoration: none;
}

a:hover {
    color: dodgerblue;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    width: 300px;
    height: 150px;
    line-height: normal;
    position: fixed;
    top: 25%;
    left: 46%;
    margin-top: 100px;
    margin-left: -150px;
    background-color: lightgreen;
    border-radius: 5px;
    z-index: 11;
    text-align: center;
    padding: 30px;
    position: relative;
}

.create input {
    margin-bottom: 2px;
}

.modal p {
    font-size: 18px;
    margin-bottom: 5px;
}

.reg:hover {
    color: lightgreen;
    cursor: pointer;
}

.add-favourite-icon {
    height: 15px;
    width: 15px;
    background-color: transparent;
    cursor: pointer;
}


/*
    @media only screen and (min-width: 640px) {
    .movieTitle {
        width: 48%;
        float: left;
        clear: both;
    }
*/
