* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

html {
    background: lightgreen;
}

body {
    font-family: "Trebuchet MS", sans-serif;
}

nav {
    width: auto;
    height: 115px;
    border-bottom: 1px solid grey;
    background: black;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}

nav h1 {
    color: white;
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

.next {
    display: inline-block;
    margin-left: 41%;
}

.nextPage {
    background-color: lightgreen;
    border-radius: 3px;
    padding: 15px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.nextPage:hover {
    color: white;
    background-color: green;
}

nav .js-search-form {
    text-align: center;
}

nav .signup {
    float: right;
    margin-right: 10px;
    clear: right;
    display: block;
    width: 15%;
}

nav p {
    color: white;
    display: inline-block;
}

nav p::hover {
    color: blue;
}

nav .logButton {
    cursor: pointer;
    background-color: lightgreen;
}

nav .logButton:hover {
    background-color: green;
    color: white;
}

.wrapper {
    background: black;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}

.wrapper h1 {
    color: white;
    text-align: center;
}

.movieTrailers ul {
    overflow: hidden;
    margin-top: 1em;
    list-style-type: none;
}

.movieTrailers li {
    float: left;
    margin-bottom: 2em;
    padding: 1em;
    color: white;
}

.movieTrailers li img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
    text-align: center;
}

.movieTrailers li p {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
    min-height: 4rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    width: 500px;
    height: auto;
    line-height: normal;
    position: fixed;
    top: 25%;
    left: 46%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: lightgreen;
    border-radius: 5px;
    z-index: 11;
    display: none;
    text-align: left;
    /* 1px higher than the overlay layer */
}

.modal p {
    font-size: 18px;
}

.reg:hover {
    color: lightgreen;
    cursor: pointer;
}

@media only screen and (min-width: 640px) {
    .movieTrailers li {
        width: 48%;
        float: left;
        clear: both;
    }
    .movieTrailers li:nth-child(2n) {
        float: right;
        clear: none;
    }
}
